.logout{
    height: auto;
    background-color: #fff;
    padding: 50px 0;
    &__wrapper{
        display: flex;
        justify-content: center;
        &__form{
            width: 600px;
            height: auto;
            padding: 30px 50px;
            border-radius: 20px;
            border: 1px solid #9E9E9E;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 15px;
            &_login{
                text-align: center;
                font-size: 16px;
                font-weight: 600;
                color: #333;
                cursor: pointer;
                padding: 5px;
                width: 20%;
                &:hover{
                    border-radius: 10px;
                    background-color: #ae00ff38;
                }
            }
            &_title{
                font-size: 26px;
                color: #575757;
                font-weight: 700;
                margin-bottom: 20px;
            }
            &_input{
                display: flex;
                flex-direction: column;
                row-gap: 5px;
                width: 100%;
                &-label{
                    font-size: 14px;
                    color: #575757;
                    font-weight: 600;
                    padding-left: 5px;
                }
                &-input{
                    width: 100%;
                    height: 50px;
                    padding: 0 15px;
                    border-radius: 10px;
                    border: 1px solid #9E9E9E;
                    color: #333;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
            &_btn{
                border-radius: 10px;
                background: #AD00FF;
                font-size: 16px;
                font-weight: 600;
                padding: 10px 0;
                color: #fff;
                width: 100%;
            }
        }
    }
}