$rext-grey-g:   #656565;
$text-grey:     #6E7191;
$color-Violet:  #AD00FF;
$text-white:    #FFFFFF;
$text-black:    #191817;
$color-red:     #FE0E0E;
$text-black-g:  #000000; 
$text-gray-g-t: #555555;

